# Не добавлять папку с установленными пакетами
node_modules/

# Переменные окружения (включают пароли, ключи и т.д.)
.env

# Логи
logs
*.log

# Бэкапы
*.bak
*.tmp

# OS/IDE мусор
.DS_Store
Thumbs.db
.vscode/
.idea/

# Базы данных локально
*.sqlite
*.db
